/*Stile de Index*/

    /* reseteando el margin y paddin que trae por defecto */
    /* propiedad box-sizing ayuda a descontar los valores que tenga padding */
    html body{
        font-size: 68%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;
        font-family: 'Merriweather', serif;
    }
    /* header */
    .header{
        display: flex;/*alineando los elementos*/
        justify-content: center;/*alineacion horizontal mas centrado*/
        align-items: center;/*alineacion vertical*/
        gap: 10rem;/*separando el logo y menu*/
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .logo{
        width: 150px;
        height: 100px;
        /* margin-right: 360px; */
    
    }
    
    /*Menu de Navegacion*/
    /* sacamos las viñetas */
    ul{
        list-style-type: none;
        display: flex;
    }
    .menu{
        display: flex;
        width: 500px;/*se aplica esto primero para que tenga un ancho y poder separarlos*/
        justify-content: space-around;
        flex-wrap: wrap;/*cuando se achique se posicione*/
        /* margin-left: 300px; */
        
    }
    .list-item{
        color:  rgb(253, 250, 250);
        font-family: 'Kaushan Script', cursive;
     
    }
    .menu-item-list{
    
        font-weight: bold;
        /* efecto */
        border-bottom: 2px solid black;
        transition: all 0.5s ease;
    
    }
    .menu-item-list:hover {
        border-color: rgb(148, 0, 246);
    }
    
    /* sacamos por defecto los estilos de link  */
    a{
        text-decoration:none;
        color: aliceblue;
    
    }
    /* banner y section */
    img{
        width: 100%;
    
    }
    /* section one */
    .div-one{
        background-color: rgb(240, 255, 247);
        font-size: 25px;
        font-weight: 200;
        font-family: 'Kaushan Script', cursive;  
    }
    
    .section-one{
        color: black;
    }
    
    /* Formulario */
    
    
    /* Pie de pagina */
    h4{
        color: aliceblue;
    }
    
    /* Redes Sociales */
    .list-two{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    
    }
    footer{
        color: aliceblue;
        font-family: 'Philosopher', sans-serif;
    }
    