/* EXISTEN 3 FORMAS PARA AGG STYLE
1-LINEA DE STYLE:dentro de un elemento de boddy en apertura
2-BLOQUE DE HEAD:dentro de head se puede llamar a un alemento y aplicar estilo a todos ellos
3-ARCHIVO DE CSS: es mas recomendable ya que se puede expandir y se puede mantener*/




/* HOME -INDEX */
/* QUEDA PENDIENTE EN MEJORAR LA SEPARACION DEL LOGO Y NAV */

/*Menu de Navegacion*/
/* sacamos las viñetas */



/* banner */
/* efecto parallax */



/* SECTION 2 */



.section-one {
  color: black;
  font-family: "Kaushan Script", cursive;
  align-self: center;
}
/* CONTACTOS */





.custom-button:hover {
}

/* Pie de pagina */
h4 {
  color: aliceblue;
  font-size: 20px;
}

/* NOSOTROS */

#grilla-nosotros {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "section1 section1"
    "section2 section2 "
    "section2 section2 "
    "section3 section3"
    "footer1 footer1 ";
}

#section-nosotros {
  grid-area: section1;
}

#section2-nosotros {
  grid-area: section2;
}

#carouselExampleInterval {
  grid-area: section3;
}
/* banner */
.parallax-nosotros {
  background-image: url("../imagenes/Nosotros.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}

/* section2 */
.border-nosotros {
  border-bottom: purple solid 2px;
}
.color-nosotros {
  background-color: black;
  border-bottom: 2px solid purple;
}

.text-nosotros {
  color: white;
  align-self: center;
  font-size: 2rem
}

.style-nosotros {
  display: flex;
  justify-content: center;
}

.form-nosotros {
  color: white;
  gap: 10px;
  font-size: 1rem;
}
/* footer */


/* Servicios */
#grilla-servicios {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "articulo1 articulo1"
    "articulo2 articulo2 "
    "articulo2 articulo2 "
    "footer1 footer1 ";
}

#section-servicios {
  grid-area: articulo1;
}
.section-servicios{
  display: flex;
  flex-direction: initial;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
#section2-servicios {
  grid-area: articulo2;

}
.section2-servicios{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
#section3-servicios {
  grid-area: articulo3;
}
.section3-servicios{
  display: flex;
  flex-direction: initial;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
/* banner */
.parallax-servicios {
  background-image: url("../imagenes/ServiciosP.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}
.tex-col-servicios {
  color: white;
}
.gap-margin-px {
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}


/* section2 */
.div-flex-servicios {
  display: flex;
  flex-direction: initial;
  gap: 20px;
}
.slide-left {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slide-rigth {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* GALERIA */
.parallax-galeria {
  background-image: url("../imagenes/galeria11.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}
/* GALERIA */

#grilla-galeria {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "galeria galeria"
    "galeria galeria"
    "galeria galeria"
    "footer1 footer1 ";
}
#galeria {
  grid-area: galeria;
}
.banner-styles {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  bottom: 300px;
  left: 520px;
}
.font-size{
  font-size: 3rem;
  background-color: #00000078;
  color: white;
  font-weight: bold;
  align-self: center;
}
.font-size-background{
  color: white;
  font-size: 2rem;
  background-color: #00000078
}
.background-color{
  background-color: white;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  header{
    flex-direction: column;
  }
  .sticky {
    position: relative;
  }
  .menu{
    flex-direction: column;
  }
  
  /* home */
  .text-color-banner {
    font-size: 2rem;
    bottom: -150px;
  }
  .div-one-section {
    display: flex;
    margin: 2rem 2rem;
    gap: 1rem;
  }
  .contacto{
    flex-direction: column;
    align-items: center;
  }
  gap-margin-px{
    gap: 0px;
    margin: 0px;
  }
  /* nosotros */
  .flex-direction {
    flex-direction: initial;
  }
  .text-nosotros {
    font-size: 1.5rem;
  }
  .section-style {
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 300px;
    flex-direction: initial;
    font-size: 1rem;
  }
  /* servicios */
  .flex-direction-m{
    flex-direction: column-reverse;
  }
  .div-flex-servicios h3, .div-flex-servicios p{
    text-align: center !important;
  }
  /* GALERIA */
  .font-galeria{
    font-size: 2rem;
  }
  .font-galeria-size{
    font-size: 1.7rem;
  }
}
