/* EXISTEN 3 FORMAS PARA AGG STYLE
1-LINEA DE STYLE:dentro de un elemento de boddy en apertura
2-BLOQUE DE HEAD:dentro de head se puede llamar a un alemento y aplicar estilo a todos ellos
3-ARCHIVO DE CSS: es mas recomendable ya que se puede expandir y se puede mantener*/
html body {
  font-size: 68%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}
#grilla {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(9, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "section1 section1 "
    "section1 section1 "
    "section2 section2 "
    "section2 section2 "
    "contacto section3 "
    "footer footer"
    "footer1 footer1 ";
  /* height: 100vh; */
}

header {
  grid-area: header;
}

#banner {
  grid-area: banner;
}
#section {
  grid-area: section1;
}
#section-two {
  grid-area: section2;
}

#contacto {
  grid-area: contacto;
}

#aside {
  grid-area: section3;
}
#footer-one {
  grid-area: footer;
}

footer {
  grid-area: footer1;
}
.sticky {
  position: sticky;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
.section-white {
  background-color: #fff;
}
/* HOME -INDEX */
/* QUEDA PENDIENTE EN MEJORAR LA SEPARACION DEL LOGO Y NAV */

/*Menu de Navegacion*/
/* sacamos las viñetas */





.menu-item-list:hover {
  border-color: rgb(148, 0, 246);
}

/* banner */
/* efecto parallax */

.parallax {
  background-image: url("../imagenes/image\ \(4\).png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}
video {
  width: 50%;
}
/* SECTION 2 */
.parallax-two {
  background-image: url("../imagenes/home3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.color {
  background-color: rgb(240, 255, 247);
}
.text-color-banner {
  color: #fff3f3;
  position: absolute;
  left: 15px;
  font-weight: bold;
  background-color: #00000078;
  padding: 10px;
  font-size: 3rem;
    bottom: 150px;
}
.div-one {
  background-color: white;
}
.section-one {
  color: black;
  font-family: "Kaushan Script", cursive;
  align-self: center;
}
/* CONTACTOS */
.contacto {
  display: flex;
  color: aliceblue;
  padding-top: 35px;
  border-bottom: 3px dotted pink;
  gap: 10px;
}
.div-contacto {
  display: flex;
  flex-direction: column;
}

.tex-contacto {
  display: flex;
  color: aliceblue;
  flex-direction: column;
  margin-left: 2rem;
  align-self: center;
}
.div-contacto-items {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

/* Formulario */
.div-consulta {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inputs-form {
  height: 35px;
}
.botom {
  background-color: pink;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
}
.botom:hover {
  background-color: purple;
}
.custom-button:hover {
}
/* ASIDE */
#aside {
  border-bottom: 3px dotted pink;
}
.aside-one {
  width: 90%;
  height: 100%;
  margin-left: 50px;
  object-fit: cover;
}
/* Pie de pagina */
h4 {
  color: aliceblue;
  font-size: 20px;
}

/* Redes Sociales */
.list-two {
  display: flex;
  font-family: "Merriweather", serif;
  font-size: 20px;
  gap: 2rem;
}

.footer-one {
  display: flex;
  justify-content: center;
}
.footer-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
  gap: 1rem;
  /* TRANSICION */
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.list-two-color {
  color: white;
}
footer {
  color: black;
  font-family: "Philosopher", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px groove purple;
  background-color: white;
}

.footer-two {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-two-color {
  color: black;
  font-size: 15px;
  align-self: center;
  font-weight: bold;
  border-bottom: 2px solid white;
  transition: all 0.5s ease;
  margin-top: 5px;
}
.footer-icons {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 45px;
}

.footer-two-color:hover {
  border-color: purple;
}

/* NOSOTROS */

#grilla-nosotros {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "section1 section1"
    "section2 section2 "
    "section2 section2 "
    "section3 section3"
    "footer1 footer1 ";
}

#section-nosotros {
  grid-area: section1;
}

#section2-nosotros {
  grid-area: section2;
}

#carouselExampleInterval {
  grid-area: section3;
}
/* banner */
.parallax-nosotros {
  background-image: url("../imagenes/Nosotros.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}

/* section2 */
.border-nosotros {
  border-bottom: purple solid 2px;
}
.color-nosotros {
  background-color: black;
  border-bottom: 2px solid purple;
}

.text-nosotros {
  color: white;
  align-self: center;
  font-size: 2rem
}

.style-nosotros {
  display: flex;
  justify-content: center;
}

.form-nosotros {
  color: white;
  gap: 10px;
  font-size: 1rem;
}
/* footer */

.nosotros-tamano {
  font-size: 1.17em;
  font-weight: bold;
}
/* Servicios */
#grilla-servicios {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "articulo1 articulo1"
    "articulo2 articulo2 "
    "articulo2 articulo2 "
    "footer1 footer1 ";
}

#section-servicios {
  grid-area: articulo1;
}
.section-servicios{
  display: flex;
  flex-direction: initial;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
#section2-servicios {
  grid-area: articulo2;

}
.section2-servicios{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
#section3-servicios {
  grid-area: articulo3;
}
.section3-servicios{
  display: flex;
  flex-direction: initial;
  color: white;
  gap: 20px;
  font-size: 1rem;
}
/* banner */
.parallax-servicios {
  background-image: url("../imagenes/ServiciosP.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}
.tex-col-servicios {
  color: white;
}
.gap-margin-px {
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}


/* section2 */
.div-flex-servicios {
  display: flex;
  flex-direction: initial;
  gap: 20px;
}
.slide-left {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slide-rigth {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* GALERIA */
.parallax-galeria {
  background-image: url("../imagenes/galeria11.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover;
}
/* GALERIA */

#grilla-galeria {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header"
    "banner banner"
    "galeria galeria"
    "galeria galeria"
    "galeria galeria"
    "footer1 footer1 ";
}
#galeria {
  grid-area: galeria;
}
.banner-styles {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  bottom: 300px;
  left: 520px;
}
.font-size{
  font-size: 3rem;
  background-color: #00000078;
  color: white;
  font-weight: bold;
  align-self: center;
}
.font-size-background{
  color: white;
  font-size: 2rem;
  background-color: #00000078
}
.background-color{
  background-color: white;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  header{
    flex-direction: column;
  }
  .sticky {
    position: relative;
  }
  .menu{
    flex-direction: column;
  }
  
  /* home */
  .text-color-banner {
    font-size: 2rem;
    bottom: -150px;
  }
  .div-one-section {
    display: flex;
    margin: 2rem 2rem;
    gap: 1rem;
  }
  .contacto{
    flex-direction: column;
    align-items: center;
  }
  gap-margin-px{
    gap: 0px;
    margin: 0px;
  }
  /* nosotros */
  .flex-direction {
    flex-direction: initial;
  }
  .text-nosotros {
    font-size: 1.5rem;
  }
  .section-style {
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 300px;
    flex-direction: initial;
    font-size: 1rem;
  }
  /* servicios */
  .flex-direction-m{
    flex-direction: column-reverse;
  }
  .div-flex-servicios h3, .div-flex-servicios p{
    text-align: center !important;
  }
  /* GALERIA */
  .font-galeria{
    font-size: 2rem;
  }
  .font-galeria-size{
    font-size: 1.7rem;
  }
}
