@charset "UTF-8";
#grilla {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "header header" "banner banner" "section1 section1 " "section1 section1 " "section2 section2 " "section2 section2 " "contacto contacto " "redes redes" "footer1 footer1 ";
  /* height: 100vh; */ }

header {
  grid-area: header; }

main {
  grid-area: banner; }

#section {
  grid-area: section1; }

#section-two {
  grid-area: section2; }

#contacto {
  grid-area: contacto; }

#redes {
  grid-area: redes; }

footer {
  grid-area: footer1; }

#grilla-nosotros {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header header" "banner banner" "section1 section1" "section2 section2 " "section2 section2 " "section3 section3" "footer1 footer1 "; }

#section-nosotros {
  grid-area: section1; }

#section2-nosotros {
  grid-area: section2; }

#carouselExampleInterval {
  grid-area: section3; }

/* Servicios */
#grilla-servicios {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header" "banner banner" "articulo1 articulo1" "articulo2 articulo2 " "articulo3 articulo3 " "footer1 footer1 "; }

#section-servicios {
  grid-area: articulo1; }

#section2-servicios {
  grid-area: articulo2; }

#section3-servicios {
  grid-area: articulo3; }

/* GALERIA */
#grilla-galeria {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header" "banner banner" "imagenes imagenes" "galeria galeria" "galeria galeria" "footer1 footer1 "; }

#imagenes {
  grid-area: imagenes; }

#galeria {
  grid-area: galeria; }

html body {
  font-size: 68%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #642b73;
  background-image: linear-gradient(108deg, #642b73 0%, #040004 69%);
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.6rem; }

ul {
  list-style-type: none; }

a {
  /* sacamos por defecto los estilos de link  */
  text-decoration: none; }

footer {
  color: #000000;
  background-image: linear-gradient(180deg, #000000 0%, #ffffff 50%);
  font-family: "Philosopher", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px groove purple; }
  footer .footer__block {
    display: flex;
    flex-direction: column;
    margin-right: 4rem; }
    footer .footer__block .footer__block--icons {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 45px; }
  footer .footer__block--md {
    color: #000000;
    font-size: 15px;
    align-self: center;
    font-weight: bold;
    border-bottom: 2px solid white;
    transition: all 0.5s ease;
    margin-top: 5px; }
  footer .footer__block--md:hover {
    border-color: purple; }
  footer .footer__block--small {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 2rem; }

header {
  display: flex;
  justify-content: space-between;
  /*alineando los elementos*/
  /* justify-content: center; alineacion horizontal mas centrado */
  flex-wrap: wrap;
  top: 0px;
  background-color: #000000;
  z-index: 1;
  position: sticky; }
  header .header__logo--img {
    width: 150px;
    height: 100px; }
  header .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* ver porque no se acomoda */
    /* separando los items*/
    margin-right: 6rem;
    padding: 0;
    margin-top: 0;
    /* TRANSICION */
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    header .menu .menu__list {
      display: flex;
      gap: 1.5rem; }
      header .menu .menu__list .menu__list--item {
        font-family: "Merriweather", serif;
        font-size: 1.2rem; }
        header .menu .menu__list .menu__list--item .menu__list--item-link {
          color: white;
          display: flex;
          flex-wrap: wrap;
          /* ver porque no se acomoda */
          font-weight: bold;
          /* efecto */
          border-bottom: 2px solid #000000;
          transition: all 0.5s ease; }
        header .menu .menu__list .menu__list--item .menu__list--item-link:hover {
          border-color: #9400f6; }

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; }
    header .header__logo--img {
      margin-right: 75px; }
  .menu {
    flex-direction: column; }
    .menu .menu__list {
      flex-direction: column; }
  .sticky {
    position: relative; } }

main .parallax {
  background-image: url("../imagenes/image (4).png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover; }

main .main__items--text {
  color: white;
  position: absolute;
  left: 15px;
  font-weight: bold;
  background-color: #00000078;
  padding: 10px;
  font-size: 3rem;
  bottom: 150px; }

.section__white {
  background-color: white; }

video {
  width: 50%; }

.parallax-two {
  background-image: url("../imagenes/home3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  object-fit: cover; }

.contacto {
  display: flex;
  gap: 50px;
  border-bottom: 3px dotted pink;
  color: white;
  margin-top: 10px;
  /* Formulario */
  /* ASIDE */ }
  .contacto .contacto__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 35px;
    margin-top: 100px; }
    .contacto .contacto__block .contacto__block--mdf {
      display: flex;
      flex-direction: column;
      gap: nul; }
    .contacto .contacto__block .contacto__block--bd {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 1rem; }
  .contacto .consulta {
    display: flex;
    flex-direction: column;
    margin-left: 3rem; }
    .contacto .consulta .consulta--md {
      font-size: 1.2rem;
      display: flex;
      align-self: center;
      margin-top: 100px;
      margin-left: 30px;
      width: 20rem; }
  .contacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .contacto form .form__input {
      height: 35px; }
    .contacto form .bottom {
      background-color: pink;
      border: none;
      padding: 12px 24px;
      font-size: 1rem; }
    .contacto form .bottom:hover {
      background-color: purple; }
  .contacto aside {
    width: 68%;
    display: flex; }
    .contacto aside .aside__block {
      width: 70%;
      height: 100%;
      object-fit: cover;
      display: flex;
      margin-left: 12rem; }

.redes {
  align-items: center;
  margin-right: 80px;
  gap: 1rem;
  color: white;
  flex-direction: column; }
  .redes ul {
    gap: 2rem;
    /* Redes Sociales */ }
    .redes ul .list-redes {
      display: flex;
      font-family: "Merriweather", serif;
      font-size: 20px;
      gap: 0.5rem;
      color: white; }

@media only screen and (max-width: 575.98px) {
  .header {
    padding-right: 90px; } }

@media only screen and (max-width: 768px) {
  /* home */
  main .main__items--text {
    font-size: 2rem;
    bottom: -150px; }
  .contacto {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 0px; }
    .contacto .contacto__block {
      margin-top: 0px; }
    .contacto .consulta {
      margin-left: 0px; }
      .contacto .consulta .consulta--md {
        margin-top: 0px !important;
        margin-left: 0px !important; }
    .contacto aside {
      align-self: end;
      width: 80%; }
      .contacto aside .aside__block {
        margin-left: 0px !important; } }

/* banner */
main .parallax-nosotros {
  background-image: url("../imagenes/Nosotros.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover; }

section .section__block {
  color: #000000;
  font-family: "Kaushan Script", cursive, cursive;
  align-self: center; }

.section__details {
  border-bottom: 2px solid purple; }
  .section__details .section__details--text {
    color: white;
    align-self: center;
    font-size: 2rem; }
  .section__details form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
    font-size: 1rem; }

@media only screen and (max-width: 768px) {
  /* nosotros */
  .flex-direction {
    flex-direction: initial; }
  .section-style {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    gap: 300px;
    padding: 4rem;
    font-size: 1rem; } }

/* banner */
main .parallax-servicios {
  background-image: url("../imagenes/ServiciosP.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: 80vh;
  border-bottom: 5px purple ridge;
  object-fit: cover; }

main .main__items--size {
  font-size: 3rem;
  background-color: #00000078;
  color: white;
  font-weight: bold;
  align-self: center; }

.servicios {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 50px; }
  .servicios article {
    display: flex;
    flex-direction: initial;
    gap: 20px;
    color: white;
    font-size: 1rem;
    /* section*/ }
    .servicios article .article__servicios--clubhouse, .servicios article .article__servicios--gastronomia, .servicios article .article__servicios--produccion {
      display: flex;
      flex-direction: initial;
      gap: 20px; }
      .servicios article .article__servicios--clubhouse .article__servicios--clubhouse-color, .servicios article .article__servicios--gastronomia .article__servicios--clubhouse-color, .servicios article .article__servicios--produccion .article__servicios--clubhouse-color, .servicios article .article__servicios--gastronomia .article__servicios--gastronomia-color, .servicios article .article__servicios--produccion .article__servicios--produccion-color {
        color: white; }

@media only screen and (max-width: 768px) {
  main .main__items--size {
    font-size: 2rem;
    position: relative;
    bottom: -150px; }
  /* servicios */
  .servicios {
    transition: none; }
    .servicios article {
      flex-direction: column !important; }
  .article__servicios--gastronomia-color {
    text-align: center !important; }
  [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: none;
    /* Desactiva la transformación en dispositivos móviles */ }
  [data-aos^=fade][data-aos^=fade] {
    opacity: 1;
    /* Modifica la opacidad para dispositivos móviles */
    transition-property: none;
    /* Desactiva la transición para dispositivos móviles */ }
  [data-aos=fade-right] {
    transform: none;
    /* Desactiva la transformación en dispositivos móviles */ } }

main .parallax-galeria {
  background-image: url("../imagenes/galeria11.jpg") !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: 80vh;
  border-bottom: 5px white ridge;
  object-fit: cover; }

.background-color {
  background-color: white; }

@media only screen and (max-width: 768px) {
  /* GALERIA */
  .font-galeria-size {
    font-size: 1.7rem; } }
