/* MOBILE */

@media only screen and (max-width: 768px) {
    header{
      flex-direction: column;
    }
    .sticky {
      position: relative;
    }
    .menu{
      flex-direction: column;
    }
    
    /* home */
    .text-color-banner {
      font-size: 2rem;
      bottom: -150px;
    }
    .div-one-section {
      display: flex;
      margin: 2rem 2rem;
      gap: 1rem;
    }
    .contacto{
      flex-direction: column;
      align-items: center;
    }
    gap-margin-px{
      gap: 0px;
      margin: 0px;
    }
    /* nosotros */
    .flex-direction {
      flex-direction: initial;
    }
    
    .section-style {
      display: flex;
      justify-content: center;
      padding: 4rem;
      gap: 300px;
      flex-direction: initial;
      font-size: 1rem;
    }
    /* servicios */
    .flex-direction-m{
      flex-direction: column-reverse;
    }
    .div-flex-servicios h3, .div-flex-servicios p{
      text-align: center !important;
    }
    /* GALERIA */
   
    .font-galeria-size{
      font-size: 1.7rem;
    }
  }
  