html body {
    font-size: 68%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:$color-body;
    background-image: $body-background-image;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}

ul {
  list-style-type: none;
}
a {
  /* sacamos por defecto los estilos de link  */
  text-decoration: none;
}
.section-white {
  background-color: #fff;
}