#grilla {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
      "header header"
      "banner banner"
      "section1 section1 "
      "section1 section1 "
      "section2 section2 "
      "section2 section2 "
      "contacto contacto "
      "redes redes"
      "footer1 footer1 ";
    /* height: 100vh; */
  }
  
  header {
    grid-area: header;
  }
  
 main {
    grid-area: banner;
  }
  #section {
    grid-area: section1;
  }
  #section-two {
    grid-area: section2;
  }
  
  #contacto {
    grid-area: contacto;
  }
  #redes{
    grid-area: redes;
  }
  
  footer {
    grid-area: footer1;
  }