
// paleta de colores
$color-primary:#000000;
$color-secondary:white;
$color-purple:purple;
$color-body: #642b73;
$body-background-image: linear-gradient(108deg, #642b73 0%, #040004 69%);
$footer-background-image: linear-gradient(180deg, #000000 0%, #ffffff 50%);



// tipografia
$font-family-base:"Poppins", sans-serif; 
$font-family-secondary:"Merriweather", serif;
$font-tertiary:"Kaushan Script", cursive;

//tamaño de fuentes
$font-size-base:68% ;
$font-title:3rem;
$font-size-secondary:1rem;

