
// paleta de colores
$color-primary:black;
$color-secundary:white;
$color-purple:purple;



// tipografia
$font-family-base:"Poppins", sans-serif; 
$font-family-secundary:"Merriweather", serif;
$font-terciary:"Kaushan Script", cursive;

//tamaño de fuentes
$font-size-base:68% ;
$font-title:3rem;
$font-size-secundary:1rem;

