footer {
  color: $color-primary;
  background-image: $footer-background-image;
  font-family: "Philosopher", sans-serif;
  @include flex (column, null, center, null);
  border-top: 5px groove $color-purple;

  .footer__block {
    @include flex(column, null, null, null);
    margin-right: 4rem;

    .footer__block--icons {
      @include sizes(100%, null);
        display: block;
        text-align: center;
        font-size: map-get($map-size, font-45px);
    }
  }
  
  .footer__block--md {
    color: $color-primary;
    font-size: map-get($map-size, font-15px);
    align-self: center;
    font-weight: bold;
    border-bottom: 2px solid $color-secondary;
    transition: all 0.5s ease;
    margin-top: 5px;
  }
  
  .footer__block--md:hover {
    border-color: $color-purple;
  }
  
.footer__block--small {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 2rem;
}

}
