main{
  // falta anidar y darle convencion
.parallax-galeria {
    background-image: url("../imagenes/galeria11.jpg")!important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-primary;
    @include sizes (100%, 80vh);
    border-bottom: 5px $color-secondary ridge;
    object-fit: cover;
}
} 

.background-color{
  background-color: $color-secondary;
}

@media only screen and (max-width: 768px) {
  /* GALERIA */
 
  .font-galeria-size{
    font-size: 1.7rem;
  }
}