main {
  // Estaba en una clase de main en div
  // .color {
  //     background-color: rgb(240, 255, 247);
  //   }
  .parallax {
    background-image: url("../imagenes/image\ \(4\).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: black;
    width: 100%;
    height: 80vh;
    border-bottom: 5px $color-purple ridge;
    object-fit: cover;
  }
  .main__items--text {
    color: $color-secundary;
    position: absolute;
    left: 15px;
    font-weight: bold;
    background-color: #00000078;
    padding: 10px;
    font-size: $font-title;
    bottom: 150px;
  }
}
video {
  width: 50%;
}
.parallax-two {
  background-image: url("../imagenes/home3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.contacto {
  display: flex;
  border-bottom: 3px dotted pink;
  color: $color-secundary;
  margin-top: 10px;

  .contacto__block {
    flex-direction: column;
    display: flex;
    padding-top: 35px;
    gap: 10px;
    align-items: center;
    margin-top: 100px;
    margin-right: 15px;

    .contacto__block--mdf {
      display: flex;
      flex-direction: column;
      // margin-left: 2rem;
    }
    .contacto__block--bd {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 1rem;
    }
  }
  .consulta {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .consulta--md{

      font-size: 1.2rem;
      display: flex;
      align-self: center;
        }
    /* Formulario */
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .form__input {
        height: 35px;
      }

      .bottom {
        background-color: pink;
        border: none;
        padding: 12px 24px;
        font-size: 1rem;
      }
      .bottom:hover {
        background-color: $color-purple;
      }
    }
  }

  /* ASIDE */
  aside {
    width: 68%;
    .aside__block {
      width: 70%;
      height: 100%;
      margin-left: 280px;
      object-fit: cover;
    }
  }
}
.redes {
  align-items: center;
  margin-right: 80px;
  gap: 1rem;
  color: $color-secundary;
  flex-direction: column;

  ul {
    gap: 2rem;

    /* Redes Sociales */
    .list-redes {
      display: flex;
      font-family: "Merriweather", serif;
      font-size: 20px;
      gap: 0.5rem;
      color: $color-secundary;
    }
  }
}
