main {
  // Estaba en una clase de main en div
  // .color {
  //     background-color: rgb(240, 255, 247);
  //   }
  .parallax {
    background-image: url("../imagenes/image\ \(4\).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: black;
    @include sizes (100%, 80vh);
    border-bottom: 5px $color-purple ridge;
    object-fit: cover;
  }
  .main__items--text {
    color: $color-secondary;
    position: absolute;
    left: map-get($map-size, font-15px);
    font-weight: bold;
    background-color: #00000078;
    padding: 10px;
    font-size: $font-title;
    bottom: 150px;
  }
}
.section__white {
  background-color: $color-secondary;
}
video {
  @include sizes (50%, null);
}
.parallax-two {
  background-image: url("../imagenes/home3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include sizes (100%, 80vh);
  object-fit: cover;
}
.contacto {
  @include flex (null, null, null, 50px);
  border-bottom: 3px dotted pink;
  color: $color-secondary;
  margin-top: 10px;

  .contacto__block {
    @include flex (column, null, center, 10px);
    padding-top: 35px;
    margin-top: 100px;

    .contacto__block--mdf {
      @include flex (column, null, null, nul);
      // margin-left: 2rem;
    }
    .contacto__block--bd {
      @include flex (column, null, baseline, 1rem);
    }
  }
  .consulta {
    @include flex (column, null, null, null);
    margin-left: 3rem;
    .consulta--md {
      font-size: map-get($map-size, font-1-2);
      display: flex;
      align-self: center;
      margin-top: 100px;
      margin-left: 30px;
      @include sizes (20rem, null);
    }
  }
  /* Formulario */
  form {
    @include flex (column, null, null, null);
    flex-wrap: wrap;

    .form__input {
      height: 35px;
    }

    .bottom {
      background-color: pink;
      border: none;
      padding: 12px 24px;
      font-size: map-get($map-size, font-1);
    }
    .bottom:hover {
      background-color: $color-purple;
    }
  }

  /* ASIDE */
  aside {
    @include sizes (68%, null);
    display: flex;
    .aside__block {
      @include sizes (70%, 100%);
      object-fit: cover;
      display: flex;
      margin-left: 12rem;
    }
  }
}

.redes {
  align-items: center;
  margin-right: 80px;
  gap: 1rem;
  color: $color-secondary;
  flex-direction: column;

  ul {
    gap: 2rem;

    /* Redes Sociales */
    .list-redes {
      display: flex;
      font-family: "Merriweather", serif;
      font-size: map-get($map-size, font-20px);
      gap: 0.5rem;
      color: $color-secondary;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .header {
    padding-right: 90px;
  }
}
@media only screen and (max-width: 768px) {
  /* home */
  main {
    .main__items--text {
      font-size: map-get($map-size, font-2);
      bottom: -150px;
    }
  }
  .contacto {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 0px;

    .contacto__block {
      margin-top: 0px;
    }
    .consulta {
      margin-left: 0px;
      .consulta--md{
        margin-top: 0px !important;
        margin-left: 0px !important;
      }
  }
  aside {
    align-self: end;
    @include sizes (80%, null);

    .aside__block {
      margin-left: 0px !important;
    }
  }
}
}