/* banner */
main {
  .parallax-nosotros {
    background-image: url("../imagenes/Nosotros.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-primary;
    @include sizes (100%, 80vh);
    border-bottom: 5px $color-purple ridge;
    object-fit: cover;
  }
}
section {
  .section__block {
    color: $color-primary;
    font-family: $font-tertiary, cursive;
    align-self: center;
  }
}
.section__details{
    border-bottom: 2px solid $color-purple;
    
.section__details--text {
  color: $color-secondary;
  align-self: center;
  font-size: 2rem;
}

form {
  @include flex(column, null, null, 10px);
  flex-wrap: wrap;
  color: $color-secondary;
  font-size: 1rem;
}
}
@media only screen and (max-width: 768px) {

  /* nosotros */
  .flex-direction {
    flex-direction: initial;
  }
  
  .section-style {
    @include flex(initial, center, null, 300px);
    padding: 4rem;
    font-size: 1rem;
  }
}