/* banner */
main {
  // falta anidar y darle convencion
  .parallax-servicios {
    background-image: url("../imagenes/ServiciosP.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-primary;
    @include sizes (100%, 80vh);
    border-bottom: 5px $color-purple ridge;
    object-fit: cover;
  }
  .main__items--size{
    font-size: 3rem;
    background-color: #00000078;
    color: $color-secondary;
    font-weight: bold;
    align-self: center;
  }
}
.servicios {
  @include flex(column, null, null, 40px);
  margin-bottom: 20px;
  margin-top: 50px;

  article {
    @include flex (initial, null, null, 20px);
    color: $color-secondary;
    font-size: 1rem;

    /* section*/
    .article__servicios--clubhouse {
      @include flex (initial, null, null, 20px);

      .article__servicios--clubhouse-color {
        color: $color-secondary;
      }
    }
  }
  article {
    .article__servicios--gastronomia {
      @extend .article__servicios--clubhouse;

      .article__servicios--gastronomia-color {
        @extend .article__servicios--clubhouse-color;
      }
    }
  }
  article{
    .article__servicios--produccion{
      @extend .article__servicios--clubhouse;

      .article__servicios--produccion-color {
        @extend .article__servicios--clubhouse-color;
      }
    }
    
  }
}
@media only screen and (max-width: 768px) {
  main{
    .main__items--size{
      font-size: 2rem;
      position: relative;
      bottom: -150px;
    }
  }
  /* servicios */
  .servicios{
transition: none;
    article{
      flex-direction: column !important;
    }
  }
  .article__servicios--gastronomia-color{
    text-align: center !important;
  }
  
  [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: none; /* Desactiva la transformación en dispositivos móviles */
  }

  [data-aos^=fade][data-aos^=fade] {
    opacity: 1; /* Modifica la opacidad para dispositivos móviles */
    transition-property: none; /* Desactiva la transición para dispositivos móviles */
  }

  [data-aos=fade-right] {
    transform: none; /* Desactiva la transformación en dispositivos móviles */
  }
}